@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: auto;
    height: 100vh;
    padding: 10px;
    display: flex;
    
}
.nav{
    position: relative;
    z-index: 1000;
    color: white;
}
.lleft{
   position: relative;
    padding: 25px;
    margin-left: 10vh;
    height: 100vh;
    /* background: url(""); */
       background-size: cover;
    
}

.rright{margin-left: 480px;}
.rright::after{
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    opacity: .5;
    /* padding: 200px 600px; */
    left: 0;
    right: 0;
    background-color: black;
    }
form{
    z-index: 100;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: -10px;
    font-size: 50px;
    
}
form h2{
    font-size: 45px;
    margin-left: -10%;
}
#vid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

.in_1{
    margin-top: 20px;
    width: 250px;
    height: 35px;
    background: none;
    border: none;
    border-bottom: solid 1px white;
    outline: none;
    
    color: white;
    padding:10px ;
}
#female{
    margin-left: 30px;
}
::placeholder{
    color: white;
}
#btn1{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 251, 251);
    
    border-radius: 25px;
}
.nav_logo img{
    width: 70px;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 2px;
    background-color: black;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
nav ul{
    /* display: flex; */
    margin-right: 300px;
    margin-top: -50px;
}
#btn2{
    background-color: rgb(199, 199, 27);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin-left: 200px;
}
.dropbtn {
    background-color: #080808;
    color: white;
    padding: px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-align:center;
    text-decoration: none;
    padding: 10px 10px;
    margin-left: -1%;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #000000;
  }
  .dropdown-content a:hover{
    background-color: rgb(56, 36, 104);
    color: #f1f1f1;
  }
  .nav a:hover{
    color: yellow;
  }